{% extends "base.html" %}

{% block page_content %}

<h1>Dasem</h1>

<form>
  <input value="{{ q }}" name=q>
  <input type=submit value="search">
</form>

<h2>Results</h2>

{% if w2v_similar %}

<div class="container" title="Most similar words according to Word2Vec on Danish Wikipedia">
  <h3>Word2Vec similar words</h3>

  {% for word, similarity in w2v_similar %}
  <a href="?q={{ word }}">{{ word }}</a> |
  {% endfor %}
</div>

{% endif %}


{% if esa_related %}

<div class="container">

  <h3>Related Wikipedia titles</h3>
  
  {% for article in esa_related %}
  <a href="https://da.wikipedia.org/wiki/{{ article }}">{{ article }}</a>
  |
  {% endfor %}
</div>

{% endif %}


{% if eparole_lemmas %}

<div class="container">

  <h3>Lemmas</h3>

  {% for word, counts in eparole_lemmas.items() %}
  <a href="?q={{ word }}">{{ word }}</a> : 
  {% for lemma, count in counts.items() %}
  <a href="?q={{ lemma }}">{{ lemma }}</a> |
  {% endfor %}
  <br/>
  {% endfor %}
  
</div>

<div class="container">
  <h3>DanNet synsets</h3>
  {{ dannet_synset_table | safe }}
  
  <h3>DanNet relations</h3>
  {{ dannet_relations_table | safe }}
</div>

{% endif %}



{% endblock %}

  
